body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto",sans-serif;
}

header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3{
    color:#fff;
    margin:0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}

.left_area span{
    color: #e7c91d;
}

.logout_btn{
    padding: 5px;
    background: #d3a719;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.logout:hover{
    background: #cfa416;
}

.sidebar{
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width:250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width:100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #f8d229;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #eee129;
}

#check:checked ~.sidebar{
    left:-190px
}

#check:checked ~.sidebar a span{
    display:none;
}

#check:checked~.sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content{
    margin-left:250px;
    background:url('8.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    transition: 0.5s;
}

#check:checked ~.content{
    margin-left: 60px;
}

#check{
    display: none;
}


/*-----------------------------------------------------*/
#container{
    position: block;
    display: flex;
    justify-content: left;
    align-items: center;
    background-attachment: fixed;
    height:100vh;
}



.label{
    
    font-size: 40px;
    font-family: bold san sans-serif;
    color:rgb(247, 236, 247);
     

}

.timer{
    font-size: 80px;
    font-family: bolder san sans-serif;
    color:rgb(223, 203, 23);
    text-align: right;
    top:30%;
}


.blur{
    position: relative;
    left:90px;
    display: flex;
    background-attachment: fixed;
}



/**************************to do**************************/
.todo{
    position: fixed;
 
      top:10%;
      left: 68%;
      
      width:400px;
      padding: 30px;
   
      background-attachment: fixed;
      
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 0 15px 20px rgba(245, 180, 41, 0.904);
}
    

#inputField {
    padding: 2px;
    width: 290px;
    height: 26px;
    border-width: 0;
    border: 1px solid white;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

.btn{
    border-radius:9px;
    background-color: grey;
    border-color: grey;
}
.btn:hover{
    background-color: goldenrod;
    border-color: goldenrod;
    border-radius: 9px;
    
}

#addToDo {
    height: 30px;
    width: 30px;
    border-radius: 7px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 19px;
    background-color: goldenrod;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    
    font-size: 20px;
}

.to-dos {
    margin-top: 30px;
    color:gold ;
    position: relative;
    line-height:40px;
    margin-right:50px;
    
}


#hiddenhelp{
    color:black;
}